* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* means that paddings and borders are included in height and width values*/
}


#opener {
    width: 100%; /*you could also say vw*/
    height: 100vh; /* vh stands for viewport height, width is easier for the browser to figure out*/
    background-image: url(images/widelandscapedark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    /* background-repeat: repeat y, x */
    h2 {
        color: white;
        font-family: 'Courier New', Courier, monospace;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: bold;
      font-variation-settings:
        "wdth" 100;
        font-size: 40px;
    }
    
    h3 {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 350;
        font-style: normal;
        font-size: 25px;
        margin-top: 20px;
    }
    .quote {
        position: relative;
        top: 100px;
        left: 100px;
        z-index: 1000;
        width: 60%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
    }
}

#about {
    .synopsis {

        h1 {
            font-size: 38px;
            text-align: left;
            padding-bottom: 20px;
        }
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        background-image: url(images/burlap_texture-edit.jpg);
        font-size: 20px;
        padding: 100px 200px 100px 200px;
        line-height: 1.5;
    }
}
#reviews {

    background-color: rgb(175, 224, 175);
    
    h1 {
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-weight: 530;
        font-size: 40px;
        font-style: bold;
        padding-top: 60px; 
        padding-bottom: 10px;
        position: relative;
        left: 100px;
        top: 20px;
    
    }

    h4 {
        font-family: 'Courier New', Courier, monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      font-variation-settings:
        "wdth" 100;
      color: rgb(255, 255, 149);
      margin-bottom: 50px;
      position: relative;
      left: 100px;
      top: 20px;
      padding-bottom: 10px;
    }

    .first {
        background-color:rgba(235, 189, 218, 0.854);
        position: relative;
        left: 90px;
        bottom: -20px;
        z-index: 99;
        padding: 20px 20px 20px 20px;
        font-family: 'Courier New', Courier, monospace;
        width: 20%;
    }
    
    .second {
        background-color:rgba(255, 194, 115, 0.671);
        font-family: 'Courier New', Courier, monospace;
        width: 500px;
        position: relative;
        left: 430px;
        bottom: 150px; 
        padding: 20px 20px 20px 20px;
        width: 30%;   
        z-index: 15;
    }
    
    .third {
        background-color: rgba(218, 215, 63, 0.68);
        position: relative;
        left: 130px;
        bottom: 180px;
        z-index: 10;
        padding: 20px 20px 20px 20px;
        font-family:'Courier New', Courier, monospace;
        width: 25%;
    }
}


span {
    font-size: 13px;
    color: rgb(16, 108, 74);
    text-transform: uppercase;
    display: block; /* default is inline*/
    margin-top: 5px;
}

iframe {
    margin: 100px 50px 100px 50px;
}


#characters {

    h5 {
        font-family: 'Courier New', Courier, monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      font-variation-settings:
        "wdth" 100;
      color: rgb(255, 255, 149);
      margin-bottom: 40px;
    }
    
    .column { 
        width: 100%;
        margin: 100px 50px 100px 50px;
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        left: 960px;
        bottom: 960px;
    }

    ul {
        list-style-type: none;
        font-size: medium;
    }
    

}

#visuals {
    position: absolute; 

    .pic1 {
        position: relative;
        bottom: 780px;
        left: 240px;
        height: 430px;
        width: 600px;
    
    }
    
    .pic2 {
        position: relative; 
        bottom: 1160px;
        right: 80px;
        height: 270px;
        width: 450px;
    }
    
    .pic3 {
        position: relative;
        bottom: 1120px;
        left: 900px;
        height: 280px;
        width: 470px;
    }
    
    .pic4 {
        position: relative; 
        bottom: 1500px;
        left: 600px;
        height: 170px;
        width: 260px;
    }
    .pic5 {
        position: relative;
        bottom: 800px;
        right: 320px;
        height: 120px;
        width: 590px;
        z-index:900;

    }

}


#excerpt {
    background-image: url(images/landscapedark.jpg);
    background-size: cover;
    position: relative;

    
    .text {
        color: white;
        text-align: right center;
        font-family: 'Courier New', Courier, monospace;
        width: 70%;
        font-size: 20px; 
        padding: 150px 130px 120px 120px; 
        line-height: 1.5;


    }
}