* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* means that paddings and borders are included in height and width values */

}

/* CSS */
header h2 a {
    color: white; /* Set the color to white */
    text-decoration: none; /* Remove underline */
}

#opener {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden; 
    font-family: 'Courier New', Courier, monospace; 
    
    .quote {
        position: relative;
        top: 300px;
        left: 200px;
        z-index: 1000;
        width: 70%;
        font-family: 'Courier New', Courier, monospace; 
        color: white;

    }

    .h3 { 
        font-size: auto; 
        color: white; 
        position: relative; 
        text-align: center;
        font-style: normal; 
        font-weight: 300px;  
       
    }

}

#scene1 {
    background-color: black; 

    
    .image1 { 
        position: relative;
        width: 3100px;
        height: 5000px;
        background-position: cover;
        scale: 40%; 
        top: -1400px;
        left: -835px; 
    }

    .title {
        color: rgb(255, 255, 255); 
        padding-top: 200px; 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
    }
  
}

#scene2 {
    background-color: black;
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px;
        padding-top: 200px; 
    }

    .image2 { 
        position: relative;
        background-position: cover;
        scale: 40%; 
        top: -1300px;
        left: -335px;      
    }

    
}
#scene3 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
        padding-top: 200px;
    }

    .image3 { 
       position: relative; 
       scale: 27%;
       left: -480px; 
       top: -650px;   
    }

    
}


#scene4 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
        padding-top: 200px;
    }

    .image4 { 
       position: relative; 
       scale: 30%;
       left: -235px; 
       top: -2050px;  
    }

    
}

#scene5 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px;
        padding-top: 200px; 
    }

    .image5 { 
       position: relative; 
       scale: 25%;
       left: -435px; 
       top: -1350px;  
    }

    
}


#scene5 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
        padding-top: 200px;
    }

    .image5 { 
       position: relative; 
       scale: 25%;
       left: -435px; 
       top: -1350px;  
    }

    
}

#scene6 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
        padding-top: 200px;
    }

    .image6 { 
       position: relative; 
       scale: 36%;
       left: -300px; 
       top: -2100px;  
    }

    
}

#scene7 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
        padding-top: 200px;
    }

    .image7 { 
       position: relative; 
       scale: 36%;
       left: -300px; 
       top: -2450px;  
    }

    
}

#scene8 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px; 
        padding-top: 200px;
    }

    .image8 { 
       position: relative; 
       scale: 30%;
       left: -391px; 
       top: -3400px;  
    }

    
}

#scene82 {
    background-color: black; 
    
    .title {
        color: rgb(255, 255, 255); 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace; 
        font-weight: 300px;
        padding-top: 200px; 
    }

    .image82 { 
       position: relative; 
       scale: 35%;
       left: -360px; 
       top: -2800px;  
    }

    
}

ul {
    list-style-type: none;
}


/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
h2 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 55px; 
    margin-top: 40px;
    padding-bottom: 8px; 
}
nav {
    text-align: center;
}
nav ul li {
    display: inline-block;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10px;
}
nav a {
    color: rgb(255, 138, 138);
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.5s;
}
nav a:hover {
    color: rgb(255, 52, 93);
}
html {
    scroll-behavior: smooth;
}

