body {
    background-color: #e1fffa;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #154e44;
    text-align:center;
}

p {
    text-align: center;
}

h2 {
    color: #489084;
    font-weight: light;
}

h5 {
    font-style: normal;
}

hr {
    color:#489084;
}

img source {
    align-items: center;
}

h3 {
    font-weight: 500;
}